site_name: Team Onboarding
theme:
  name: material
  features:
    - navigation.sections
    - navigation.expand

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: sphinx

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - admonition
  - markdown_include.include:
      base_path: .

extra_javascript:
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: index.md
  - Math Reference: math_guide.md
  - Python API: api.md